<nav class="navigation">
  <ul>
    <a href="/#/home"><li>Home</li></a><!--
    --><a href="/#/discover"><li class="selected">Discover</li></a><!--
    --><a href="#/profile"><li>Profile</li></a><!--
    --><a href="/#/login"><li>Login</li></a><!--
    --><a href="/#/logout"><li>Logout</li></a><!--
    --><a href="/#/cohort"><li>Team</li></a>
  </ul>
</nav>

<div id="discover-outer">
  <div id="discover-inner">
    <div class="row">
      <div class="search-box col-sm-12">
    </div>
      <input type="text" ng-model="searchFilter" class="search" placeholder="search">
    </div>

    <div class="container-fluid profile-view" ng-repeat="profile in profiles | filter:searchFilter">
      <div class="row info-basic">
        <div class="col-sm-2">
          <img ng-if="profile.avatar" src="{{profile.avatar}}" height="100" width="100"/>
          <img ng-show="!profile.avatar" src="http://i2.wp.com/reboot.pro/public/style_images/metro/profile/default_large.png" />
        </div>
        <div class="col-sm-4">
          <p class="name">{{profile.name}}</p>
          <p class="company">{{profile.headline}}</p>
          <p ng-if="profile.city && profile.state" class="location">{{profile.city}}, {{profile.state}}</p>
        </div>
        <div class="col-sm-4">
          <span class="social-icon"><a href="mailto:{{profile.email}}"><i class="fa fa-envelope fa-3x"></i></a></span>
          <span ng-if="profile.githublogin" class="social-icon"><a href="http://github.com/{{profile.githublogin}}"><i class="fa fa-github fa-3x"></i></a></span>
          <span ng-if="profile.linkedin" class="social-icon"><a href="{{profile.linkedin}}"><i class="fa fa-linkedin fa-3x"></i></a></span>
          <span ng-if="profile.twitter" class="social-icon"><a href="https://www.twitter.com/{{profile.twitter}}"><i class="fa fa-twitter fa-3x"></i></a></span>
        </div>
        <div class="col-sm-2">
          <p ng-if="profile.cohort" class="cohort">{{profile.cohort}}</p>
        </div>
      </div>

      <div class="row info-expanded">
        <div class="col-sm-5">
          <p><a href="mailto:{{profile.email}}">{{profile.email}}</a></p>
          <p ng-if="profile.website"><a href="{{profile.website}}" target="_blank">{{profile.website}}</a></p>
        </div>
        <div class="col-sm-7" ng-if="profile.githublogin">
          <div>Hack Reactor projects:</div>
          <div ng-if="!profile.project1Name && !profile.project2Name && !profile.project3Name">
          No projects added yet!</div>
          <p ng-if="profile.project1Name"><span class="field-title">{{profile.project1Name}}: </span><a href="{{profile.thesisurl}}" target="_blank">{{profile.project1Url}}</a></p>
          <p ng-if="profile.project2Name"><span class="field-title">{{profile.project2Name}}:  </span>{{profile.project2Url}}</p>
          <p ng-if="profile.project3Name"><span class="field-title">{{profile.project3Name}}:  </span>{{profile.project3Url}}</p>
        </div>
      </div>
      <div class="row info-contact" ng-if="!profile.githublogin">
        <div class="col-sm-9">
          <p class="field-title">Invite User:</p>
            <p>This user has not signed up yet, send an email to invite them to join Jupitr!</p>
        </div>
      </div>
    </div>
  </div>
</div>

