<nav class="navigation">
  <ul>
    <a href="/#/home"><li>Home</li></a><!--
    --><a href="/#/discover"><li>Discover</li></a><!--
    --><a href="/#/cohort"><li>Cohort</li></a><!--
    --><a href="#/profile"><li class="selected">Profile</li></a><!--
    --><a href="/#/login"><li>Login</li></a><!--
    --><a href="/#/logout"><li>Logout</li></a>
  </ul>
</nav>

<div ng-controller="profileController" id="profile">

  <div class="container-fluid profile-view edit " >
      <div class="row info-basic">
        <div class="col-sm-2">
          <img ng-src="{{user.avatar}}" height="100" width="100"/>
        </div>
        <div class="col-sm-5">
          <p class="name">{{user.name}}</p>
          <p ng-if="user.headline" class="company">{{user.headline}}</p>
          <p ng-if="user.city && user.state" class="location">{{user.city}}, {{user.state}}</p>
     <!-- <p class="company">{{user.currentemployer}}</p> -->
        </div>
        <div class="col-sm-4">
          <span class="social-icon"><a href="mailto:{{user.email}}"><i class="fa fa-envelope fa-3x"></i></a></span>
          <span class="social-icon"><a href="http://github.com/{{user.githublogin}}"><i class="fa fa-github fa-3x"></i></a></span>
          <span ng-if="user.linkedin" class="social-icon"><a href="{{user.linkedin}}"><i class="fa fa-linkedin fa-3x"></i></a></p>
          <span ng-if="user.twitter" class="social-icon"><a href="https://www.twitter.com/{{user.twitter}}"><i class="fa fa-twitter fa-3x"></i></a></p>
        </div>
        <div class="col-sm-1">
          <p ng-if="user.cohort" class="cohort">{{user.cohort}}</p>
        </div>
      </div>
      <div class="row info-expanded">
        <div class="col-sm-5">
          <p>Email: {{user.email}}</p>
          <p ng-if="user.website">Website: <a href="{{user.website}}" target="_blank">{{user.website}}</a></p>
        </div>
        <div class="col-sm-7" ng-if="user.githublogin">
          <div>Projects:</div>
          <div ng-if="!user.project1Name && !user.project2Name && !user.project3Name">
          No projects added yet!</div>
          <p ng-if="user.project1Name"><span class="field-title">{{user.project1Name}}: </span><a href="{{user.project1Url}}" target="_blank">{{user.project1Url}}</a></p>
          <p ng-if="user.project2Name"><span class="field-title">{{user.project2Name}}: </span><a href="{{user.project2Url}}" target="_blank">{{user.project2Url}}</a></p>
          <p ng-if="user.project3Name"><span class="field-title">{{user.project3Name}}: </span><a href="{{user.project3Url}}" target="_blank">{{user.project3Url}}</a></p>
        </div>
      </div>
      <div class="row info-contact" ng-if="!user.githublogin">
        <div class="col-sm-9">
          <p class="field-title">Invite User:</p>
          <!-- <div ng-if="!user.signedUp"> -->
            <p>This user has not signed up yet, send an invite!</p>
        </div>
        <div  class="col-sm-3">  
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Send Invite
            </button>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Invite {{user.name}}!</h4>
                  </div>
                  <form>
                  <div class="modal-body">
                  <textarea rows="3" height="200" width="200" readonly>To: {{user.name}}&#10;(user) would like you to join us on Jupitr!&#10;From: The Jupitr Team
                  </textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Send</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>

          <!-- </div>  -->
        </div>
      </div>
    </div>

  <div ng-switch on="user.currentProfileStep">
    <h1 ng-if="user.currentProfileStep < 2" class="complete-profile-heading">Complete your profile</h1>

    <!-- Step 1 -->
    <div class="container-fluid" ng-switch-when="0">
      <div class="continue-profile">
        <h1 class="step-heading">Step {{user.currentProfileStep + 1}}:</h1>
        <form name="profileForm" ng-submit='updateProfileAndNextStep()' novalidate>
          <label>
            Zipcode:
            <input type="text" class="form-control" name="zip" maxlength="5" 
            ng-model="user.zip" required>
          </label>
          <label>
            Cohort: 
             <select name="cohort" ng-model="school.cohort" class="form-control" required>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
              <option value="31">31</option>
              <option value="32">32</option>
              <option value="33">33</option>
              <option value="34">34</option>
              <option value="35">35</option>
              <option value="36">36</option>
              <option value="37">37</option>
              <option value="38">38</option>
              <option value="39">39</option>
              <option value="40">40</option>
              <option value="41">41</option>
              <option value="42">42</option>
              <option value="43">43</option>
              <option value="44">44</option>
              <option value="45">45</option>
              <option value="46">46</option>
              <option value="47">47</option>
              <option value="48">48</option>
              <option value="49">49</option>
              <option value="50">50</option>
            </select>
          </label>
          <input type="submit" value="Continue" class="btn btn-primary" ng-disabled='profileForm.$invalid'>  
        </form>
      </div>
    </div>

    <!-- Step 2 -->
    <div class="container-fluid" ng-switch-when="1">
      <div class="continue-profile">
        <h1 class="step-heading">Step {{user.currentProfileStep + 1}}:</h1>

        <div>
          <a class="btn btn-social btn-linkedin" href="/auth/linkedin" role="button" ng-click="updateProfileAndNextStep()">
            <i class="fa fa-linkedin"></i>
            Complete with Linkedin</a>    
        </div>
        <hr>
        <h2>OR</h2> 
        <hr>

        <form name="profileForm" ng-submit='updateProfileAndNextStep()' novalidate>
          <label>
            Headline:
            <input type="text" class="form-control" maxlength="70" 
            ng-model="user.headline">
          </label>
          <label>
            Linkedin URL:
            <input type="text" class="form-control" maxlength="200" 
            ng-model="user.linkedin">
          </label>
          <label>
            Avatar URL:
            <input type="text" class="form-control" maxlength="200" 
            ng-model="user.avatar">
          </label>

          <div class="form-group">
            <div class="form-group">            
              <label>
                Project 1:
                <input type="text" class="form-control" maxlength="200" 
                ng-model="user.project1Name">
              </label>
              <label>
                URL:
                <input type="text" class="form-control" maxlength="200" 
                ng-model="user.project1Url">
              </label>
            </div>
            <div class="form-group">            
              <label>
                Project 2:
                <input type="text" class="form-control" maxlength="200" 
                ng-model="user.project2Name">
              </label>
              <label>
                URL:
                <input type="text" class="form-control" maxlength="200" 
                ng-model="user.project2Url">
              </label>
            </div>
            <div class="form-group">            
              <label>
                Project 3:
                <input type="text" class="form-control" maxlength="200" 
                ng-model="user.project3Name">
              </label>
              <label>
                URL:
                <input type="text" class="form-control" maxlength="200" 
                ng-model="user.project3Url">
              </label>
            </div>
            <div class="form-group">            
              <label>
                Website:
                <input type="text" class="form-control" maxlength="200" 
                ng-model="user.website">
              </label>
              <label>
                Twitter:
                <input type="text" class="form-control" maxlength="200" 
                ng-model="user.twitter">
              </label>
            </div>
          </div>
          <input type="submit" ng-click="updateProfileAndNextStep()" value="Continue" class="btn btn-primary">  
        </form>
      </div>
    </div>

  </div>
  <div ng-if="user.currentProfileStep >= 2" class="container-fluid">
    <div class="continue-profile">
      <h1 class="step-heading">Edit Profile:</h1>
      <form name="profileForm" ng-submit='updateProfileAndNextStep()' novalidate>
        <label>
          Headline:
          <input type="text" class="form-control" maxlength="70" 
          ng-model="user.headline">
        </label>
        <label>
          Linkedin URL:
          <input type="text" class="form-control" maxlength="200" 
          ng-model="user.linkedin">
        </label>
        <label>
          Avatar URL:
          <input type="text" class="form-control" maxlength="200" 
          ng-model="user.avatar">
        </label>
        <div class="form-group">
          <div class="form-group">            
            <label>
              Project 1:
              <input type="text" class="form-control" maxlength="200" 
              ng-model="user.project1Name">
            </label>
            <label>
              URL:
              <input type="text" class="form-control" maxlength="200" 
              ng-model="user.project1Url">
            </label>
          </div>
          <div class="form-group">            
            <label>
              Project 2:
              <input type="text" class="form-control" maxlength="200" 
              ng-model="user.project2Name">
            </label>
            <label>
              URL:
              <input type="text" class="form-control" maxlength="200" 
              ng-model="user.project2Url">
            </label>
          </div>
          <div class="form-group">            
            <label>
              Project 3:
              <input type="text" class="form-control" maxlength="200" 
              ng-model="user.project3Name">
            </label>
            <label>
              URL:
              <input type="text" class="form-control" maxlength="200" 
              ng-model="user.project3Url">
            </label>
          </div>
          <div class="form-group">            
            <label>
              Website:
              <input type="text" class="form-control" maxlength="200" 
              ng-model="user.website">
            </label>
            <label>
              Twitter:
              <input type="text" class="form-control" maxlength="200" 
              ng-model="user.twitter">
            </label>
          </div>
        </div>
        <input type="submit" ng-click="updateProfileAndNextStep()" value="Continue" class="btn btn-primary">  
      </form>
    </div>

  </div>

</div>
